body,
html {
    margin: 0 auto;
    width: 100%;
}

container-fluid {
    width: 100%;
}

h1,
h2,
h4,
.font-audio {
    font-family: 'Audiowide', cursive;
}

h1 {
    font-size: 56px;
}

p,
a,
.font-exo {
    font-family: 'Exo 2', sans-serif;
}

p {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    color: white;
}

.titleBG {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("images/keyboard.jpg");
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 20px;
    }
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 36px;
    }
    img {}
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 40px;
    }
}