a {
    font-family: 'Exo 2', sans-serif;
}

p {
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}


.title {
    color: white;
    font-family: 'Audiowide', cursive;
}

.titleBG {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("images/keyboard.jpg");
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;

}

