.title {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Audiowide', cursive;
    background: url(keyboard.jpg) no-repeat center center fixed;
    background-size: cover;
    /*css3 background*/
}

a {
    font-family: 'Exo 2', sans-serif;
}

p {
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}